.sheet {
    background: var(--white);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.19);
    margin: 1em 1.5em 1em 1.5em;
}

.banner, 
.summary, 
.techskills,
.education,
.professional {
    padding: 1em 1em;
}

.banner__title,
.summary__title, 
.techskills__title,
.education__title,
.professional__title {
    display: flex;
    justify-content: center;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 1.2em;
    padding: 0 0 1em 0;
}

.banner__title {
    font-size: 1.4em;
    font-family: var(--secondary-font);
}

.banner__text {
    display: flex;
    justify-content: center;
    font-weight: 300;
}

hr {
    margin: 1em 0 -1em 0;
    align-self: center;
}

.summary__text {
    display: flex;
    justify-content: center;
}

.techskills-list {
    list-style-type: disc;
    column-count: 2;
}

.techskills-list__item {
    margin-left: 2em;
    padding: .25em 0;
}

.education__university {
    display: inline-block;
    font-weight: 700;
    font-size: 1em;
}

.education {
    display: flex;
    flex-direction: column;
}

.container__education {
    display: flex;
    justify-content: space-between;
}

.education-list {
    list-style-type: disc;
    padding: 1em 0;
}

.education-list__item {
    margin-left: 2em;
    padding: .25em 0;
}


.professional__company {
    display: inline-block;
    font-weight: 700;
    font-size: 1em;
}

.professional__company,
.container__professional,
.education__university,
.education__subtitle,
.education__gpa {
    font-family: var(--secondary-font);
}

.professional {
    display: flex;
    flex-direction: column;
}

.container__professional {
    display: flex;
    justify-content: space-between;
}

.professional-list {
    list-style-type: disc;
    padding: 1em 0 0 0;
}

.professional-list__item {
    margin-left: 2em;
    padding: .25em 0;
}

@media screen and (min-width: 1024px) {

    .sheet {
        margin: 1.5em 2em 1.5em 2em;
    }
    
    .techskills-list {
        column-count: 3;
    }

    .banner__title {
        font-size: 1.8em;
    }

    .summary__title,
    .techskills__title,
    .education__title,
    .professional__title,
    .professional__company,
    .container__professional,
    .education__university,
    .container__education {
        font-size: 1.6em;
    }

    .banner__text,
    .summary__text,
    .techskills-list,
    .professional-list,
    .education-list {
        font-size: 1.4em;
    }

}

@media screen and (min-width: 1728px) {

    .sheet {
        margin: 2em 2.5em 2em 2.5em;
    }

    .techskills-list {
        column-count: 3;
    }

    .banner__title {
        font-size: 2em;
    }

    .summary__title,
    .techskills__title,
    .education__title,
    .professional__title,
    .professional__company,
    .container__professional,
    .education__university,
    .container__education {
        font-size: 1.8em;
    }

    .banner__text,
    .summary__text,
    .techskills-list,
    .professional-list,
    .education-list {
        font-size: 1.6em;
    }
}